<div class="container-fluid">
  <div class="app-container welcome">
    <div class="card">
      <h2 class="typography-h2 card-title">443ID Dashboard</h2>
      <p class="typography-paragraph">
        Hello Customer! we are excited to have you!
      </p>
      <div class="row">
        <div class="col-md-4 col-xs-12">
          <div class="box">
            <h2 class="typography-h3">Customize your Score</h2>
            <p class="typography-paragraph">
              Here are some links to customize your account.
            </p>
            <div class="row">
              {{> ui_docs_button testId="get-started" href="https://www.ory.sh/docs/get-started" label="Policies"}}
              {{> ui_docs_button testId="user-flows" href="https://www.ory.sh/docs/concepts/self-service" label="Applications"}}
              {{> ui_docs_button testId="identities" href="https://www.ory.sh/docs/concepts/identity" label="Policy Access Keys"}}
              {{> ui_docs_button testId="sessions" href="https://www.ory.sh/docs/concepts/session" label="Documentation"}}
              {{> ui_docs_button testId="sessions443" href="https://www.ory.sh/docs/concepts/session443" label="Support"}}
              {{> ui_docs_button testId="customize-ui" href="https://www.ory.sh/docs/guides/bring-your-user-interface" label="Settings"}}
            </div>
          </div>
        </div>
        <div class="col-md-8 col-xs-12">
          <div class="box">
            <h2 class="typography-h3">Client Information</h2>
            <p class="typography-paragraph">
              Below you will find the decoded Client Information if you are logged in.
            </p>
            <pre class="code-box"><code>{{output}}</code></pre>
          </div>
        </div>
      </div>
    </div>

    <div class="card">
      <h2 class="typography-h2">Session</h2>
      <div class="row">
        {{> ui_screen_button testId="login" link="login" label="Sign In" disabled=hasSession}}
        {{> ui_screen_button testId="sign-up" link="registration" label="Sign Up" disabled=hasSession}}
        {{> ui_screen_button testId="recover-account" link="recovery" label="Recover Account" disabled=hasSession}}
        {{> ui_screen_button testId="verify-account" link="verification" label="Verify Account"}}
        {{> ui_screen_button testId="account-settings" link="settings" label="Account Settings" disabled=(not hasSession)}}
        {{> ui_screen_button testId="logout" href=logoutUrl label="Logout" disabled=(not hasSession) }}
      </div>
    </div>
  </div>
</div>